body
{
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin: 0px;
	background-color:#dddddd;
	background-image: url("../images/page/moleskine.gif");
}
#container {
	margin-top:15px;
	text-align:center;
}
#gameArea {
	overflow: hidden;
	margin: 0px;
	/*position: relative;*/
	background-color:#000000;
	/*border: 0 solid #eee;*/
	/*font: 11px Helvetica, Arial;*/
	/*height: 500px;*/
	 margin-left: auto ;
	 margin-right: auto ;
	/*height: 800px;*/
}

.actor {
	-webkit-transition: transform3d 0s linear;
	/*background-image: url("../images/circle-9.png");*/
	width: 75px;
	height: 75px;
	position: absolute;
	left: 0;
	top: 0;
	/*border: 1px solid #eee;*/
}